# Ignore development files and directories
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
.env

# Ignore build artifacts
/build
/dist

# Ignore files and directories specific to your editor or IDE
*.log
.DS_Store
.vscode/
.idea/

# Ignore any other files or directories that are not needed in the Docker image
.gitignore
README.md